/* Color Variables */
:root {
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);
}
/* global styles */
* {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--very-dark-desaturated-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-cyan);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* Horizontal Line */
hr {
  width: 100%;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
/* h1 and spans */
h1,
span {
  font-size: 18px;
}
/* paragraphs */
p{
  display: inline;
  color: var(--dark-gray);
}
/* Card */
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 375px;
  border-radius: 15px;
  box-shadow: 0 40px 100px #5f5f5f;
}
/* Background */
.background {
  width: 100%;
  height: 150px;
}
/* Image */
.image {
  position: absolute;
  left: 100px;
  top: -60px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #fff;
}
/* Content */
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: #fff;
}
/* Introduction */
.introduction {
  margin-top: 30px;
}
.introduction h1 {
  display: inline;
}
.introduction span {
  display: block;
  margin: 10px 0 20px 30px;
  color: var(--dark-gray);
}
/* Numbers */
.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  font-size: 0.8em;
  width: 100%;
}
.numbers span {
  display: block;
  font-weight: 700;
}
.numbers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

